$blue: #456185;
$darkGreen: #849075;
$ligthGreen: #9ca081;
$dirt: #c9be90;
$darkDirt: #9e956f;
$base: rgb(245, 255, 245);
$primary: #6890c3;
$primaryDark: $blue;
$primaryShadow: rgba(69, 97, 133, 0.5);
$secondary: #bbca56;
$secondaryDark: $ligthGreen;
$secondaryShadow: rgba(156, 160, 129, 0.5);
$ligthGray: #d3d3d3;
$gray: #808080;
$white: white;
$black: black;
// 
//